<div class="container mt-5">
  <ng-container *ngIf="orders">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive" style="cursor: pointer;">
          <table class="table">
            <thead>
              <tr>
                <th class="tbl-column-header" scope="col">
                  <div class="p-2 px-3 text-uppercase">Order</div>
                </th>
                <th class="tbl-column-header" scope="col">
                  <div class="p-2 px-3 text-uppercase">Date</div>
                </th>
                <th class="tbl-column-header" scope="col">
                  <div class="py-2 text-uppercase">Total</div>
                </th>
                <th class="tbl-column-header" scope="col">
                  <div class="py-2 text-uppercase">Status</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let order of orders"
                routerLink="/order/{{ order.id }}"
              >
                <td class="align-middle">
                  {{ order.id }}
                </td>
                <td class="align-left">
                  {{ order.orderDate | date: "medium" }}
                </td>
                <td class="align-right">
                  {{ order.total }}
                </td>
                <td class="align-left">
                  {{ order.orderStatus }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</div>
